/*Mobile 0 - 425px*/
.skills__nome {
  font-family: var(--font-dev);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;

  color: var(--preto-claro);
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.1rem;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .skills__nome {
    font-size: 1.2rem;
    padding-top: 0.3rem;
  }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
  .skills__nome {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
}